* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 2;
}

.header {
    background-color: #4c74af;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cousre-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}


.course {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 0 0 20px rebeccapurple;
}

.course h2 {
    margin-bottom: 10px;
    color: #774caf;
}


